In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# Call the function.
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
# Call the function.
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [6]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [7]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [8]:
#Using the map() function we are going to change B to A, C to B, and D to C. 
#To change each string value in this Series to another value using the following format.

#map({"current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc})

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

# We didn't need to map the second "B" to an "A". This change was handled with the first substitution in the map() function.

0    A
1    B
2    A
3    C
dtype: object

In [9]:
# Using the format() function.
# this is a LIST
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))
    
# In this code, there is a LIST of grades formatted to two decimal places. 
# To format these grades to the nearest whole number percent:
    #  FOR - Iterate through the LIST
    # Pass the grade variable inside the format() function.
    # Specify the format for the grade variable we would like by using {:.0f}.
    # the grade variable is referenced in front of the colon, so there is no need to add the grade variable there
    # After the colon, the .0f means to format the grade with no decimal place, where the "period" is for the decimal place
            #the "0" is for "no" decimal place, and the "f" means floating-point decimal.

92
85
87
98

In [14]:
# Chaining map() and format()
# must convert the LIST to a SERIES to use map()
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [16]:
# pass FORMAT inside the MAP
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object