In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [14]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
high_school_types
# prints the list

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [9]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)
# names the dictionaries and prints the dictionaries in the list

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school["High School"])
# names the dictionaries and prints just the KEYS

Griffin
Figueroa
Wilson
Wright

In [10]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [11]:
import pandas as pd

In [25]:
# create a pandas series from a list
school_series = pd.Series(high_schools)
school_series
# prints the series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [28]:
# how to print just column 2 using index????


for index,school_name in school_series.items():
    print(school_name)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [30]:
# convert a dictionary of high schools to a dataframe
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [33]:
# Convert a List or Series to a DataFrame by adding each column as a list, or Series, to an empty DataFrame.
# ex: Three separate lists of information on high schools

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [34]:
#  in a new cell, initialize an empty DataFrame
schools_df = pd.DataFrame()

In [37]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [38]:
# alternate method
# 3 lists
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

# Create a dictionary of information on high schools
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [39]:
# convert the dictionary to a dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
# get column names
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [41]:
# get index attributes
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [42]:
# get values
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [44]:
# skill drill 4.3.5
#List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", 
                "Ford High School", "Thomas High School"]

#list of school id
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

#list of types
school_type = ["District","District","Charter","District","Charter","Charter","Charter","District",
               "Charter","Charter","Charter","District","District","District","Charter"]

# convert to a dictionary
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

# convert the dictionary to a dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter